<div class="blog" id="blog">
    <div class="container">
        <h3 class="tittle">Son Gelişmeler</h3>
        <p class="heading-btm-w3ls">Çiftliklerimizden son haberler</p>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-7 blog-img1-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal2"></a>
            </div>
            <div class=" col-md-5 blog-info-w3layouts">
                <h6> <a href="#" data-toggle="modal" data-target="#myModal2">Yeni Sulama Sistemiyle Su Tasarrufu Sağlıyoruz</a></h6>
                <div class="inner-info">
                    <p class="para-w3-agileits">Çiftliklerimizde su verimliliğini artırmak için modern bir sulama sistemi kurduk...</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Devamını Oku</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-5 blog-info-w3layouts blog-mid">
                <h6>
                    <a href="#" data-toggle="modal" data-target="#myModal3">
                        Kaliteli Saman Üretiminde Yeni Dönem
                    </a>
                </h6>
                <div class="inner-info-mid">
                    <p class="para-w3-agileits">CultivateNow, kaliteli ve besleyici saman üretiminde yeni bir döneme giriyor...</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Devamını Oku</a>

            </div>
            <div class=" col-md-7 blog-img2-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal3"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-7 blog-img3-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal4"></a>
            </div>
            <div class=" col-md-5 blog-info-w3layouts">
                <h6><a href="#" data-toggle="modal" data-target="#myModal4">Çiftçilerimize Yönelik Eğitim Seminerleri Başladı</a></h6>
                <div class="inner-info">
                    <p class="para-w3-agileits">CultivateNow, çiftçilerimizin bilgi ve becerilerini geliştirmek amacıyla düzenlediği eğitim seminerlerine başladı...</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Devamını Oku</a>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>CultivateNow</h4>
                <img src="~/CultivateNowHome/images/b1.jpg" alt=" " class="img-responsive">
                <h5>Yeni Sulama Sistemiyle Su Tasarrufu Sağlıyoruz</h5>
                <p>
                    Çiftliklerimizde su verimliliğini artırmak için modern bir sulama sistemi kurduk. Bu yeni sistem, bitkilerin ihtiyaçlarına göre su miktarını ayarlayarak israfı önlüyor ve çevresel sürdürülebilirliğe katkıda bulunuyor. Doğaya olan sorumluluğumuzu yerine getirmekten gurur duyuyoruz.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>CultivateNow</h4>
                <img src="~/CultivateNowHome/images/b2.jpg" alt=" " class="img-responsive">
                <h5>
                    Kaliteli Saman Üretiminde Yeni Dönem
                </h5>
                <p>CultivateNow, kaliteli ve besleyici saman üretiminde yeni bir döneme giriyor. Yeni hasat tekniklerimiz ve depolama yöntemlerimiz sayesinde samanlarımız daha taze ve uzun ömürlü. Hayvanlarınızın sağlığı için ideal olan bu kaliteli samanlarımız, çiftçilerimiz tarafından büyük ilgi görüyor.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>CultivateNow</h4>
                <img src="~/CultivateNowHome/images/b3.jpg" alt=" " class="img-responsive">
                <h5>Çiftçilerimize Yönelik Eğitim Seminerleri Başladı</h5>
                <p>
                    CultivateNow, çiftçilerimizin bilgi ve becerilerini geliştirmek amacıyla düzenlediği eğitim seminerlerine başladı. İlk seminerimizde, sürdürülebilir tarım teknikleri ve modern ekipman kullanımı konularında bilgilendirme yapıldı. Çiftçilerimizle birlikte daha verimli ve sürdürülebilir bir geleceğe adım atmaktan mutluyuz.
                </p>
            </div>
        </div>
    </div>
</div>