<!DOCTYPE html>
<html lang="en">

    @await Html.PartialAsync("/Views/AdminPartials/PartialHead.cshtml")

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        @await Html.PartialAsync("/Views/AdminPartials/PartialNavbar.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">

        @await Html.PartialAsync("/Views/AdminPartials/PartialSidebar.cshtml")
        <!-- page-body-wrapper ends -->

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    @RenderBody()
                </div>

            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                </div>
            </footer>
            <!-- partial -->
        </div>
        </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    @await Html.PartialAsync("/Views/AdminPartials/PartialScript.cshtml")
    <!-- endinject -->

</body>

</html>